*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px;
}


header{
    background-color: rgb(224, 155, 5);
    text-align: center;
    color: red;
    font-size: 22px;
}

nav{
    background-color: rgb(178, 240, 8);
    padding: 30px 0 30px 0;
}

main{
    background-color: rgb(50, 209, 18);
}

footer{
    background-color: rgb(5, 224, 224);
    padding: 30px 0;
}

footer p{
    text-align: center;
    color: red;
    font-style: italic;
    font-weight:bold;
}

img{
    width: 100%;
    margin: auto;
}

.centrar{
    width: 40%;
    margin: 60px auto;
}

.galeria{
    background-color: aquamarine;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galeria img{
    width: 170px;
    height: 170px;
    border: 2px dotted red;
    border-radius: 20px;
}

#diferente{
    border-radius: 50%;
    filter: grayscale(1);
}